*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.loanhead{
    text-align: center;
    font-size: 25px;
    color: #203864;
}
.loancontent{
    border: 1px solid rgba(253, 251, 251, 0.986); 
    
}

.loanbtn{
    display: flex;
    justify-content: end;
    gap: 2px;
}
.loansubbtn{
    background-color: #203864 !important;
    color: white !important;
    padding: 9px;
    border: none;
    border-radius: 3px;
}
.loansubbtn:hover{
    background-color: #2d4c84;
    color: white;
}


.newtype{
    display: flex;
    justify-content: end;
}
.typenew{
    padding: 5px;
    background-color: green;
    border-radius: 3px;
    border: none;
    color: white;
    margin-bottom: 3px;
}